/*CSSリセット*/
* {
margin: 0;
padding:0;
box-sizing: border-box;
}

.clearfix::after{
content:"";
display:block;
clear:both;
}
.header{
width: 100%;
height: 50px;
background-color: red;
}

.main-visual{
width: 100%;
height:500px;
background-color: orange;
}

.main{
width: 960px;
margin: 0 auto;
background-color: limegreen;
}
.leftsidebar{
float:left;
width: 230px;
height:1400px;
background-color: palegreen;
}
.blog{
float:left;
width: 500px;
height:1400px;
background-color: limegreen;
}
.rightsidebar{
float:left;
width: 230px;
height:1400px;
background-color: palegreen
}

.hooter{
width: 100%;
height:100px;
background-color: blue;
}